<div class="fb-customerchat"
     page_id="110860555263747">
</div>
<div messenger_app_id="710950015695386" page_id="110860555263747" data-ref="gst_index___km"
	cta_text="SEND_TO_MESSENGER" center_align="true" size="xlarge" color="blue" class="fb-send-to-messenger"
>
</div>
<div class="header">
  <header>
    <div class="header-navbar">
      <a href="index.html">Giay Poly</a>
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-list--item">
            <a routerLink="/fullpage">Trang Chủ</a>
          </li>
          <li class="header-list--item">
            <a routerLink="/product">Thời Trang </a>
          </li>
          <li class="header-list--item">
            <a routerLink="/detail">Tin Tức</a>
          </li>
          <li class="header-list--item">
            <a href="/fullpage/#contact">Về Chúng Tôi</a>
          </li>
          <li class="header-list--item">
            <a href="/fullpage/#contact">Liên Hệ </a>
          </li>
          <li class="header-list--item">
            <a routerLink="/fullpage"> Kết Nối :</a>
          </li>
        </ul>
      </nav>
      <div class="seach">
        <div class="btn-group">
          <a  style="margin-top: 10px; font-size: 20px; color: black;" *ngIf="login==false" href="/login">  <i class="fa fa-user" aria-hidden="true"></i> Login</a>
          <div>
          <button *ngIf="login==true" type="button" style="background-color: white; color:  black; border: unset;" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i> {{user}}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/useroder">Đơn Hàng Của Tôi</a></li>
            <li><a class="dropdown-item" (click)="logOut()">Đăng Xuất</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<div class="container" style="width: 100% !important;">
  <div class="containerheder">
    <section class="trangchu" id="trangchu">
      <div class="banner-header">
        <div class="banner-header-image">
          <input type="radio" name="inputslider" id="img1" />
          <input type="radio" name="inputslider" id="img2" />
          <img
            src="./assets/image/banner-header.jpg"
            alt="img1"
            class="sliderimg1"
          />
          <img
            src="./assets/image/banner-thoitrang1.jpg"
            alt="img2"
            class="sliderimg2"
          />
        </div>
      </div>

      <div class="labelslider">
        <label for="img1"></label>
        <label for="img2"></label>
      </div>
    </section>
  </div>
  <!-- endcontainerheader -->
  <div class="container-banner">
    <div class="banner">
      <img src="./assets/img/banner/nen20.jpg" alt="" />
    </div>
    <div class="banner2">
      <img src="./assets/img/banner/nen21.jpg" alt="" />
    </div>
  </div>
  <!-- end-container-baner -->
  <div class="container-sex">
    <div class="sex">
      <a href="">Nữ</a>
      <a href="">Nam</a>
    </div>
    <div class="sex-banner">
      <img src="./assets/image/banner-sex.png" alt="" />
    </div>
  </div>
  <!-- end-container-sex -->
  <div class="container-iteam">
    <section class="container-sex--banner" id="container-sex--banner">
      <h1 style="font-size: 45px">Sản Phẩm Mới Nhất</h1>
      <div class="gallery-dislay">
        <div class="gallery-wrap">
          <div class="gllery-image">
            <img
              src="./assets/img/banner/1.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/2.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/3.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/4.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/5.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/6.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/7.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/8.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/9.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/10.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/11.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/img/banner/12.jpg"
              alt="" width="380px" height="550px"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end-container-item -->

  <div class="container-banner-mix">
    <img src="./assets/image/banner mix.png" alt="" />
    <img src="./assets/image/banner-goiy.png" alt="" />
  </div>
  <section class="contact" id="contact">
    <div class="container-contact">
      <div class="container-contact-phone">
        <div class="contact-phone">
          <span class="phone">
            <p>TƯ VẤN/ĐẶT MUA HÀNG:</p>
            <p>0338242557</p>
          </span>
        </div>
        <div class="contact-phone2">
          <span class="phone">
            <p>KẾT NỐI :</p>
            <a href="https://www.facebook.com/profile.php?id=100013145042189"
              ><img src="./assets/image/iconfb.jpg" alt=""
            /></a>
          </span>
        </div>
      </div>
      <div class="container-contact-lienhe">
        <div class="contact-lienhe">
          <a routerLink="/rulepage" href="contact.html"
            ><img src="./assets/image/doihang.jpg" alt="" />
            <p>Quy Định Đổi Hàng</p></a
          >
        </div>
        <div class="contact-lienhe">
          <a routerLink="/rulepage" href=""
            ><img src="./assets/image/vanchuyen.jpg" alt="" />
            <p>Chính Sách Vận Chuyển</p></a
          >
        </div>
        <div class="contact-lienhe">
          <a routerLink="/rulepage" href=""
            ><img src="./assets/image/baomat1.jpg" alt="" />
            <p>Bảo Mật Thông Tin</p></a
          >
        </div>
        <div class="contact-lienhe">
          <a routerLink="/rulepage" href=""
            ><img src="./assets/image/baohanh1.jpg" alt="" />
            <p>Bảo Hành</p></a
          >
        </div>
      </div>
    </div>
  </section>
</div>
<!-- endcontainer -->
<section class="footer" id="footer">
  <div class="container-lienhe">
    <p style="margin-top: 30px">Giay PoLy</p>
    <!-- <div class="hiden">
        <a href="" class="" style="color: white">aaaaaa</a>
      </div> -->
    <img src="./assets/image/footer.jpg" alt="" /> alt="">
    <div class="logodangky">
      <img src="./assets/image/dangky.jpg" alt="" />
    </div>
  </div>
</section>

<!-- endwrrapp -->
