<app-header></app-header>
<div class="dashboard">
  <div class="header">
    <div class="header__container">
      <div class="header__left">
       
        <mat-autocomplete #auto="matAutocomplete" showPanel>
          <mat-option *ngFor="let item of suggestion" [value]="item">
            {{ item }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="header__right" *ngIf="data.length !== 0">
        <div class="header__right--img">
          <i class="fas fa-download"></i>
        </div>
        <!-- <a (click)="onExport()" class="header__right--link">Export</a> -->
        <a (click)="Logout()" class="header__right--link">Logout</a>
      </div>
      <div class="header__right" *ngIf="data.length === 0">
        <div class="header__right--img">
          <i class="fas fa-download" style="color: gray"></i>
        </div>
        <a class="header__right--link" style="color: gray; cursor: context-menu">Export</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="slider-bar">
      <ul>
        <li  (click)="changeTable(6)" class="slider-bar-li">
          Danh Mục Sản Phẩm
        </li>
        <li  (click)="changeTable(8)" class="slider-bar-li">
          Quản lý mở rộng Sản Phẩm
        </li>
        <li  (click)="changeTable(1)" class="slider-bar-li">
          Quản Lý Sản Phẩm
        </li>
        <li (click)="changeTable(2)"  class="slider-bar-li"> 
          Quản Lý Đơn Hàng
      </li>
      <li (click)="changeTable(3)"  class="slider-bar-li"> 
        Quản Lý Voucher
      </li>
      <li (click)="changeTable(4)"  class="slider-bar-li"> 
        Quản Lý Tài Khoản
      </li>
      <li (click)="changeTable(5)"  class="slider-bar-li"> 
        Thống Kê 
      </li>
      <li (click)="changeTable(7)"  class="slider-bar-li"> 
        Thống Kê Doanh Thu
      </li>
      <li (click)="changeTable(9)"  class="slider-bar-li">   
        Đánh Giá Khách Hàng
      </li>
      </ul>

    </div>
    <div *ngIf="codeTable == 1" class="container-table">
      <div class="search-container"  style="display: flex; margin-bottom: 5px;">
        <input type="text" [(ngModel)]="searchName" id="searchInput" placeholder="Search for products...">
        <select  [(ngModel)]="searchSelect" id="priceRange">
          <option value="1">Lọc Giá Từ Thấp Đến Cao </option>
          <option value="2">Lọc Giá Từ Cao Đến Thấp </option>
        </select>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-hn"   type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Lọc Theo Khoảng Giá
          </button>
          <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
            <div class="range-container">
              <span id="output">0</span>
              <input type="range" min="0" max="2000000"  (change)="changeValue($event)" [(ngModel)]="rangValue" id="priceRange">
              <span id="output">2000000</span>
             
            </div>
            Giá lọc {{rangValue}}
          </ul>
        </div>
        <button class="btn btn-secondary btn-hn" type="button" (click)="serachFilter()" >
          Lọc
      </button>
      <button class="btn btn-secondary btn-hn" type="button" (click)="reset()" >
        reset
    </button>
      </div>
      <table  class="dashboard__table">
        <thead class="dashboard__table--col">
          <th class="dashboard__table--col--item">
            <button (click)="onAdd()">
              <i class="bx bx-plus-medical dashboard__table--col--item--plus"></i>
            </button>
          </th>
          <th class="dashboard__table--col--item2" (click)="onNameSort()">
            Tên sản phẩm
          </th>
          <th class="dashboard__table--col--item3">Hình Ảnh</th>
          <th class="dashboard__table--col--item3">Giá Sản Phẩm</th>
          <!-- <th class="dashboard__table--col--item3">Số Lượng</th> -->
          <th class="dashboard__table--col--item3">Kiểu Giày</th>
          <th style="width: 100px;" class="dashboard__table--col--item3">Mô tả</th>
          <th class="dashboard__table--col--item3">Sale</th>
          <!-- <th class="dashboard__table--col--item3">Xem Chi Tiết</th> -->
        </thead>
        <tbody>
          <tr *ngFor="let item of data | paginate: config" (dblclick)="onRowClick(item.id)">
            <td>
              <button (click)="onUpdate(item.id)">
                <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i>
              </button>
              <button (click)="onDelete(item.id)">
                <i class="bx bxs-trash dashboard__table--col--item--trash"></i>
              </button>
            </td>
            <td>
              {{ item.name }}
            </td>
            <td>
              <img src="{{host}}/media/{{item.imgSlug}}/{{item.image}}" alt="" width="50" height="50">
            </td>
            <td>{{ item.price }}</td>
            <!-- <td>{{ item.quantity }}</td> -->
            <td>{{item.type}}</td>
            <td style="width: 100px;" >
              <span  style="width: 100px; display: block;" class="ellipsis "> {{ item.description }}</span>
             
            </td>
            <td>{{ item.sale}}</td>
            <!-- <td>{{ item.voucherCode}}</td> -->
            <!-- <td (click)="GetDetail(item.id)"><i class="fa-solid fa-eye"></i></td> -->
          </tr>
        </tbody>
        
      </table>
      <pagination-controls [previousLabel]="'Last'" [nextLabel]="'Next'" (pageChange)="pageChangeEvent($event)"></pagination-controls>

    </div>
   
    <div *ngIf="codeTable == 2" class="container-table">
      <app-order-management></app-order-management>
    </div>

    <div *ngIf="codeTable == 3" class="container-table">
      <app-voucher></app-voucher>
    </div>
    <div *ngIf="codeTable == 4" class="container-table">
     <app-account></app-account>
    </div>
    <div *ngIf="codeTable ==8" class="container-table">
      <app-product-details></app-product-details>
     </div>
     <div *ngIf="codeTable ==9" class="container-table" >
      <app-review></app-review>
     </div>
    <div *ngIf="codeTable == 5" class="container-table">
      <table  class="dashboard__table">
        <thead class="dashboard__table--col">
          <th class="dashboard__table--col--item">
            <button (click)="onAdd()">
              <i class="bx bx-plus-medical dashboard__table--col--item--plus"></i>
            </button>
          </th>
          <th class="dashboard__table--col--item2" (click)="onNameSort()">
            Tên sản phẩm
          </th>
          <th class="dashboard__table--col--item3">Hình Ảnh</th>
          <!-- <th class="dashboard__table--col--item3">Giá Sản Phẩm</th> -->
          <th class="dashboard__table--col--item3">Lượt Mua</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of data | paginate: config" (dblclick)="onRowClick(item.id)">
            <td>
              <button (click)="onUpdate(item.id)">
                <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i>
              </button>
              <button (click)="onDelete(item.id)">
                <i class="bx bxs-trash dashboard__table--col--item--trash"></i>
              </button>
            </td>
            <td>
              {{ item.name }}
            </td>
            <td>
              <img src="{{host}}/media/{{item.imgSlug}}/{{item.image}}" alt="" width="50" height="50">
            </td>
            <td>{{ item.oder }}</td>
          </tr>
        </tbody>
            <pagination-controls [previousLabel]="'Last'" [nextLabel]="'Next'" (pageChange)="pageChangeEvent($event)"></pagination-controls>

      </table>

    </div>
    <div *ngIf="codeTable == 6" class="container-table">
      <app-category></app-category>
    </div>
    <div *ngIf="codeTable == 7" class="container-table">
      <app-char-oder></app-char-oder>
    </div>
  </div>

</div>
<app-footer></app-footer>