<div style="width: 100% !important;" class="container-table">
    <table  class="dashboard__table">
      <thead class="dashboard__table--col">
        <th class="dashboard__table--col--item">
          <button (click)="onAdd()">
            <i style="background-color: black;" class="bx bx-plus-medical dashboard__table--col--item--plus"></i>
          </button>
        </th>
        <th class="dashboard__table--col--item2" >
          Tên Người Mua
        </th>
        <th class="dashboard__table--col--item3">Số Điện Thoại</th>
        <th class="dashboard__table--col--item3">Địa Chỉ</th>
        <th class="dashboard__table--col--item3">Ghi Chú</th>
        <th class="dashboard__table--col--item3">Giá Đơn Hàng</th>
        <th class="dashboard__table--col--item3">VoucherCode</th>
        <th class="dashboard__table--col--item3">Ngày Đặt Hàng</th>
        <th class="dashboard__table--col--item3">Danh Sách Sản Phẩm</th>
        <th class="dashboard__table--col--item3">Trạng Thái Đơn Hàng</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of data | paginate: config" >
          <td>
            <button (click)="onUpdate(item.id)">
              <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i>
            </button>
            <button (click)="onDelete(item.id)">
              <i class="bx bxs-trash dashboard__table--col--item--trash"></i>
            </button>
          </td>
          <td>
            {{ item.userName }}
          </td>
          <td>{{ item.phoneNumber}}</td>

          <td>{{ item.address }}</td>
          <td>{{item.description}}</td>
          <td>{{ item.priceOder}}</td> 
          <td>{{ item.voucherCode}}</td> 
          <td>{{ item.dayOder}}</td>        
          <td>{{item.viewNameP}}</td>
          <td *ngIf="item.status == 0">Chờ Xác Nhận</td>
          <td *ngIf="item.status == 1">Đã Hoàn Thành</td>
        </tr>
      </tbody>
    </table>
  <pagination-controls [previousLabel]="'Last'" [nextLabel]="'Next'" (pageChange)="pageChangeEvent($event)"></pagination-controls>

  </div>