<div style="width: 100% !important;" class="container-table">
    <table  class="dashboard__table">
      <thead class="dashboard__table--col">
        <th class="dashboard__table--col--item">
          <!-- <button (click)="onAdd()">
            <i class="bx bx-plus-medical dashboard__table--col--item--plus"></i>
          </button> -->
        </th>
        <th class="dashboard__table--col--item2" >Tên Người comment</th>
        <th class="dashboard__table--col--item3">Comment</th>
        <th class="dashboard__table--col--item3">Sản Phẩm</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of data | paginate: config" >
          <td>
            <button (click)="onUpdate(item.id)">
              <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i>
            </button>
            <button (click)="onDelete(item.id)">
              <i class="bx bxs-trash dashboard__table--col--item--trash"></i>
            </button>
          </td>
          <td>{{ item.createdBy}}</td>
          <td>{{ item.content}}</td>
          <td>{{item.namep}}</td> 
        </tr>
      </tbody>
    </table>
  <pagination-controls [previousLabel]="'Last'" [nextLabel]="'Next'" (pageChange)="pageChangeEvent($event)"></pagination-controls>

  </div>
