<div style="width: 100% !important;" class="container-table">
  <input type="text" (input)="oncheck($event)" [(ngModel)]="searchName" id="searchInput" placeholder="Search for products...">
    <table  class="dashboard__table">
     
      <thead class="dashboard__table--col">
        <th class="dashboard__table--col--item">
          <button (click)="onAdd()">
            <i style="background-color: black;"  class="bx bx-plus-medical dashboard__table--col--item--plus"></i>
          </button>
        </th>
        <th class="dashboard__table--col--item2" >Size</th>
        <th class="dashboard__table--col--item2" >Số Lượng</th>
        <th class="dashboard__table--col--item2" >Tên Sản Phẩm Liên Kết</th>
        <th class="dashboard__table--col--item2" >Liên Kết Sản Phẩm</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of data | paginate: config" >
          <td>
            <button (click)="onUpdate(item.id)">
              <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i>
            </button>
            <button (click)="onDelete(item.id)">
              <i class="bx bxs-trash dashboard__table--col--item--trash"></i>
            </button>
          </td>
          <td>{{ item.sizeName }}</td>
          <td>{{ item.quantity }}</td>
          <td *ngIf="item.productName != null">{{item.productName}}</td>
          <td *ngIf="item.productName == undefined || item.productName == null">Chưa có</td>
          <td *ngIf="item.productId == 0">Chưa Liên Kết</td>
          <td *ngIf="item.productId != 0">Liên Kết</td>
        </tr>
      </tbody>
    </table>
  <pagination-controls [previousLabel]="'Last'" [nextLabel]="'Next'" (pageChange)="pageChangeEvent($event)"></pagination-controls>

  </div>

